<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta required name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <style>
        body {
       margin:  10% auto;
        }

        h3{
            text-align: center;
            color: rgb(228, 32, 32);

        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(9, 70, 238);
            color: rgb(239, 237, 237);
            width: 40%;
            padding: 50px 0;
            margin: 0 auto;
            border-radius: 10px;
        }
        label{
            font-weight: bold;
            padding: 5px;
            font-size: 1.6rem;
        }
        input{
            width: 86%;
            padding:10px 10px;
            border: none;
            outline: none;
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-radius: 10px;
            font-size: 1.2rem;

        }
       
        button{
            background-color: rgb(81, 224, 81);
            padding: 15px 10px;
            width: 25%;
           font-size: 1.2rem;
           margin-top: 20px;
           border-radius: 10px;
           color: rgb(31, 30, 30);
           cursor: pointer;
            
        }
@media (max-width:500px){
    form{
        width: 95%;
        }
        body {
       margin:  50% auto;
        }

}
    </style>
</head>
<body>
    <form method="post" action="/user">
        <label for="name">Name</label>
     
        <input type="text" placeholder="enter your name" required name="name">
        <label for="name">Email</label>
        <input type="email" placeholder="enter your email" required name="email">
        <label for="name">Password</label>
        <input type="password" placeholder="enter your password" required name="password">
      
        <button type="submit">Submit</button>
    </form>
</body>
</html>